---
apiVersion: v1
kind: Namespace
metadata:
  name: three-tier
---
apiVersion: v1
kind: Secret
metadata:
  name: ecr-registry-secret
  namespace: three-tier
type: kubernetes.io/dockerconfigjson
data:
  # ضع هنا محتوى .dockerconfigjson base64 من aws ecr login
  .dockerconfigjson: <BASE64_DOCKER_CONFIG>
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-sec
  namespace: three-tier
type: Opaque
stringData:
  username: myuser
  password: mypassword
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: three-tier
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: three-tier
spec:
  replicas: 1
  selector:
    matchLabels:
      role: postgres
  template:
    metadata:
      labels:
        role: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:18
        imagePullPolicy: IfNotPresent
        env:
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: postgres-sec
                key: username
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-sec
                key: password
          - name: POSTGRES_DB
            value: mydatabase
        ports:
          - containerPort: 5432
        volumeMounts:
          - name: postgres-data
            mountPath: /var/lib/postgresql
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: postgres-pvc
---
apiVersion: apps/v1
kind: Deployment
metadata: 
  name: api
  namespace: three-tier
  labels: 
    role: api
    env: demo
spec: 
  replicas: 2
  strategy: 
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector: 
    matchLabels:
      role: api
  template:
    metadata:
      labels:
        role: api
    spec:
      imagePullSecrets:
        - name: ecr-registry-secret
      containers:
      - name: api
        image: 957921932230.dkr.ecr.us-west-2.amazonaws.com/backend:15
        imagePullPolicy: Always
        env:
          - name: POSTGRES_CONN_STR
            value: postgresql://$(POSTGRES_USERNAME):$(POSTGRES_PASSWORD)@postgres-svc:5432/mydatabase
          - name: POSTGRES_USERNAME
            valueFrom:
              secretKeyRef:
                name: postgres-sec
                key: username
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-sec
                key: password
          - name: POSTGRES_DB
            value: mydatabase
        ports:
        - containerPort: 8000
        livenessProbe: 
          httpGet:
            path: /api
            port: 8000
          initialDelaySeconds: 2
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: /api
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
          successThreshold: 1
